#player img, #computerThrow { 
    width: 100px;  /* natural size is 200px, but that's too big */
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

body {
    font-family: verdana;
    font-size: medium;
}
